
.home{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
}
.home_content{
	width: 100%;
	//height: 100%;
	//display: flex;
	//flex-direction: column;
	overflow: auto;
	flex: 1;
}
.header{
	width: 100%;
	height: 60px;
	background: #cf4040;
	color: #fff;
	font-size: 22px;
}
.search{
	width: 100%;
	height: 60px;
	background:#9f9;
}
.list{
	width: 100%;
	flex: 1;
	display: flex;
	background: #f9f;
	flex-direction: column;
}
.list_banner{
	width: 100%;
	height: 200px;
	background: yellow;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.bannner_container{
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	display: flex;
}
.banner_li{
	height: 100%;
	flex:1;
}
.banner_img{
	width: 100%;
	height: 100%;
}
.btn_list{
	position: absolute;
	height: 20px;
	top: 160px;
	left: 100px;
	display: flex;
}
.btn_li{
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 100%;
	background: #fff;
}
.active{
	background: #d00;
}

.list_content{
	width: 100%;
	flex: 1;
	overflow: auto;
}
.list_data{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	border-bottom: 2px solid #ccc;
}
.list_dt{
	width: 30%;
	height: 100px;
	flex-direction: row;
}
.list_img{
	width: 100%;
	height: 100%;
}
.list_dd{
	width: 66%;
	height: 60px;
	font-size: 16px;
	padding: 10px;
	box-sizing: border-box;
}
.list_text{
	width: 100%;
	height: 50px;
}
.search{
	width: 100%;
	height: 60px;
	background: #000;
}
.search_box{
	width: 90%;
	height: 30px;
	border: 1px solid #d00;
	border-radius: 15px;
	background: #fff;
}
.search_input{
	width: 90%;
	height: 30px;
	border: 0;
	outline: none;
}
